body {
    padding: 0;
    margin: 0;
    
}

header {
    width: 100vw;
    background-image: linear-gradient(to right, #4e54c8, #8f94fb);
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 98%;
}

h1 {
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

li {
    list-style-type: none;    
    float: left;
    font-family: 'Courier New', Courier, monospace;    
  }
  
  a {
    text-decoration: none;
    color: #fff;
    padding: 20px;        
  }

 .container-2 {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
 }
 
  .container-2 div {
    height: 21vh;
    flex-basis: 33.3333333%;
    margin-bottom: 0;
    color: #f8edd3;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;    
  }

  .blue {
    background-color: aqua;
  }

  .pink {
    background-color: pink;
  }

  .green {
    background-color: mediumseagreen;
  }

  .gray {
    background-color: gainsboro;
  }

  .yellow {
    background-color: rgb(255, 255, 75);
  }

  @media only screen and (max-width: 700px) {
    
    .container-2 {
      width: 100%;
    }

    .container-2 div {
      height: 10%;
      flex-basis: 100%;
    }

  }